:root {
    /* THIS IS WRONG! TODO: SWAP BACK! */
    --fg: var(--window-bg-color);
    --bg: var(--window-fg-color);
    --border: mix(var(--fg), var(--bg), 0.8);
    --shade: #1a1a1a;
    --shadow: alpha(var(--shade), 0.5);
}

* {
    font-weight: unset;
    /* font-family: Inter Medium, sans-serif; */
    font-family: Hack Nerd Font, sans-serif;
    font-size: 12px;
    border: none;
}

.background {
    background-color: transparent;
}

#bar, popover, popover contents, calendar, popover .view {
    background-color: var(--bg);
    margin-bottom: 5px; /* gives the bar room for a shadow */
    box-shadow: 0 0 3px 1px var(--shadow);
}

box, menubar { /* not sure if necessary */
    background-image: none;
}

#bar button {
    padding: 0;
}

box, button, label {
    background-color: #0000;
    color: var(--fg);
    text-shadow: 2px 2px 3px var(--shadow);
}

popover button {
    /* TODO: this breaks in light mode */
    background-color: color(srgb 1 1 1 / 0.09);
}
popover button:hover {
    /* TODO: this breaks in light mode */
    background-color: color(srgb 1 1 1 / 0.135);
}
popover button label {
    padding: 0.6em 1em;
}

/* button:hover { */
/*     background-color: var(--bg-dark); */
/* } */
/**/
/* popover button { */
/*     background-color: inherit; */
/* } */
/* popover button:hover { */
/*     background-color: inherit; */
/* } */


popover {
    /* border: 1px solid var(--bg-light); */
    /* background-color: var(--bg); */
    /* padding: 1em; */
    box-shadow: 0 0 3px 1px var(--shadow);
}


/* -- separator, widget spacing -- */

#bar .separator {
    color: alpha(var(--fg), 0.6);
    font-size: 10px;
}

#bar #end .widget {
    margin-right: 1em;
}

.workspaces {
    margin-right: 0.5em;
}
.focused-widget {
    margin-left: 1em;
}


/* -- clock -- */

/* .popup-clock .calendar-clock { */
/*     color: var(--fg); */
/*     font-size: 1.4em; */
/*     padding-bottom: 0.1em; */
/* } */
/**/
/* .popup-clock .calendar { */
/*     background-color: var(--bg); */
    /* TODO: improve. This makes everything the same color */
/*     color: var(--fg); */
/* } */
/**/
/* .popup-clock .calendar .header { */
/*     padding-top: 1em; */
/*     border-top: 1px solid var(--border); */
/*     font-size: 1.5em; */
/* } */
/**/
/* .popup-clock .calendar:selected { */
/*     background-color: var(--accent_color); */
/* } */

.popup-clock .calendar .today {
    background-color: var(--accent-bg-color);
    border-radius: 0.25em;
}


/* -- music -- */

.popup-music .album-art {
    /* TODO: not working */
    border-radius: 1em;
}

.popup-music .icon-box {
    margin-right: 0.4em;
}

.popup-music .title .icon, .popup-music .title .label {
    font-size: 1.7em;
}

.popup-music .controls button {
    margin-right: 0.5em;
}

/* .popup-music .controls *:disabled { */
/*     color: var(--base03); */
/* } */

.popup-music .volume .slider slider {
    border-radius: 100%;
}

.popup-music .volume .icon {
    margin-left: 4px;
}

.popup-music .progress .slider slider {
    border-radius: 100%;
}

/* -- sys_info -- */

.sysinfo {
}

.sysinfo .item {
}


/* -- tray -- */

.tray .item {
    margin: 0 0.4em;
}

/* -- volume -- */

/* .popup-volume .device-box { */
/*     border-right: 1px solid var(--border); */
/* } */

/* -- workspaces -- */

.workspaces .item {
    border-radius: 0;
}

.workspaces * {
    padding: 0 0.85em;
}

.workspaces .item.focused {
}
.workspaces .item.visible {
    background-color: rgba(0,0,0,0.40);
    box-shadow: inset 0 -2px var(--accent-color);
}

.workspaces .item:hover {
}

