@import "matugen_colors";

@function gtk($color) {
    @return unquote($color)
}

window#notifications {
    all: unset;
}

window#notifications box.notifications {
    padding: .5em;
}

.notification {
    min-width: 355px;
    border-radius: 9px;
    padding: 0.8em;
    margin: 0.5em;
    border: 1px solid $outline_variant;
    background-color: rgba(mix($secondary_container, $surface, 40%), 0.9);
    box-shadow: 0 1px 2px rgba($shadow, 0.7);
}

.notification.critical {
    border: 1px solid rgba($on_error_container, 0.6);
}

.notification {
    .icon {
        /* min-width: 68px; */
        /* min-height: 68px; */
        margin-right: 0.8em;
    }

    .icon image {
        font-size: 5em;
        /* to center the icon */
        margin: 0px;
        color: $on_surface;
    }

    .icon box {
        border-radius: 7px;
        min-width: 5em;
        min-height: 5em;
    }

    .app-info {
        margin: -0.2em 0 -0.1em 0;
    }

    .app-name {
        color: $on_surface_variant;
        font-size: 0.9em;
    }

    .app-icon {
        border-radius: 7px;
        font-size: 1.3em;
        min-width: 1em;
        min-height: 1em;
        margin-right: 0.2em;
    }

    .title {
        color: gtk('@theme_fg_color');
        font-size: 1.4em;
        margin-bottom: -0.1em;
        margin-top: -0.1em;
    }

    .body {
        color: gtk('@theme_unfocused_fg_color');
    }

    .actions .action-button {
        margin: 0 .4em;
        margin-top: .5em;
        padding: 0em;
    }

    .actions .action-button:first-child {
        margin-left: 0;
    }

    .actions .action-button:last-child {
        margin-right: 0;
    }
}
